.home {
  background-color: blue;
}

.block {
    text-align: center;
    vertical-align: middle;
    display: table;
}
.circle {
    background: grey;
    border-radius: 200px;
    display: table;
    color: white;
    height: 75px;
    font-weight: bold;
    width: 75px;
    margin: 20px auto;
}
.circle p {
    vertical-align: middle;
    display: table-cell;
}
