.topbar {
  width: 100%;
  height: 50px;
  background-color: white;
}

/* .topbarWrapper { */
  /* height: 100%; */
  /* padding: 0px 20px; */
  /* display: flex; */
  /* align-items: center; */
  /* justify-content: space-between; */
/* } */

/* .logo { */
  /* font-weight: bold; */
  /* font-size: 30px; */
  /* color: darkblue; */
  /* cursor: pointer; */
/* } */

.navbar > .container {
  max-width:100%;
  margin: 0;
  padding: 10;
}

.topBarBadge {
  position: absolute;
  top: -10px;
  right: 10px;
  background-color: red;
}

.topNotificationIcon {
  position: relative;
}

/* .navbar { */
  /* margin: 0; */
  /* padding: 10px; */
/* } */
